# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env & secrets
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log